$background:  #051937;
$primary-color: rgb(176, 15, 15);
$font-stack: Arial, Helvetica, sans-serif;
$text-color: #fff;


/*@function set-text-color($color){
    @if(lightness($color)> 75){
        @return #333;
    } @else {
        @return #051937;
    }
}*/

