@media(max-width: 400px) {
    body{
        height: 400px;
        text-align: center;
        width: 400px;


        .header{

            h1{
                font-size: 24px;
            }
            nav{

                ul{
                    
                    li{

                        a{
                            font-size: 18px
                        }
                    };
                }
            }
        }
        }
        .Home{
            max-width: 400px;
            text-align: center;

            #one{
                margin-bottom: 15px;
            }
            img{
                text-align: center;
                width: 10%;
            }
        }
        .Menu{
            max-width: 400px;
            text-align: center;

            img{
                display: none;
            }
        }
        .Service{
            max-width: 400px;
            text-align: center; 
        }
        .footer{
            max-width: 400px;
            text-align: center;
        }
    }
